
  <div class="blogcard">
    <header class="blogcardheader">
    <h2>Update Post</h2>
    </header>
    <form class='update-blog-form px-5' >
      <div>
        <label for="title" class="form-label">Blog title </label>
        <textarea type="text" class="form-control" id="title">{{title}}</textarea>

        <div class="mb-3">
          <label for="content" class="form-label">Blog Content</label>
          <textarea type="text" class="form-control" id="content">{{content}}</textarea>
         
        </div>
        <div class="center mb-3">
           <button type="submit" class="black-btn" data-id={{id}}>Update</button>
        </div>
        <div class="center mb-3">
           <button type="submit" class="black-btn" data-id={{id}}>Update</button>
        </div>
        
      </div>
    </form>
  </div>

<script src="./js/blog.js"></script>